<% include partials/header.ejs %>    

<div class="row">

	<div class="col-md-9">
		<h3><%= location %> <br>The weather's <%= weather %>&deg;F </h3>
	</div>	<!-- closes col-lg-6 -->

	<div class="col-md-3">
		<div id="resultssearch">
			<form action="/search">
				<input type="text" class="form-control" name="searchLoc" placeholder="New Location"></input>
				<input type="submit" value="submit" class="btn btn-success btn-xs"></input>
			</form>
		</div>
	</div>	<!-- closes col-lg-6 -->



</div> 	<!-- closes row -->





<hr class="featurette-divider">



<!-- Displaying Photos and Username -->
<div class="row">
	<% locations.forEach(function(location) { %>
		<div class="col-xs-6 col-md-3 thumbnail">
			
			<a class="fancybox" rel="gallery1" href= <%= location.images.standard_resolution.url %> title="
				<% if (location.tags !== null){ %>
					 <p><%="#" + location.tags.join(", #") %> </p>
				<% } else { %>
					<p></p>
				<% } %>">
				<img src= <%= location.images.low_resolution.url %> class="img-rounded" alt="" />
			</a>

			<% if (location.caption !== null) { %>
				<p><%= location.caption.from.username %></p>
			<% } else { %>
				<p>Taken By Anonymous</p>
			<% } %>

			<% if (isAuthenticated) { %>
				<form action="save/<%= user.dataValues.id %>" method="post">
				<input type="hidden" name="img" value="<%= location.images.low_resolution.url %>">
				<input type ="submit" value ="Save" class ="btn btn-info btn-xs">
				</form>
			<% } %>
		</div>
	<% }) %>
</div>



<hr class="featurette-divider">


<!-- More Search Option -->


<!-- Pikes Place -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="http://www.mysteriousexhortations.com/wp-content/uploads/2011/05/Pike-Place.jpg" alt="Pikes Place" class="img-rounded" height="300" width="400">
      <div class="caption">
        <blockquote><h3>Pikes Place</h3></blockquote>
        <p>Seattle’s original farmers market, established in 1907.  Pike Place Market is a vibrant neighborhood comprised of hundreds of farmers, craftspeople, small businesses and residents.  Walk down the cobblestone street of Pike Place and take a moment to look around.</p>
        <form action="/searchLoc" method="post">
          <input type="hidden" name="Location" value="Pikes Place, Seattle"></input>
          <button class="btn btn-primary">Discover The Market</button>
      </form>

      </div>
    </div>
  </div>
</div>


<!-- Forbidden City -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="http://www.redorbit.com/media/uploads/2013/11/Forbidden-City_SS_110613-617x416.jpg" alt="Forbidden City" class="img-rounded" height="300" width="400">
      <div class="caption">
        <blockquote><h3>Forbidden City</h3></blockquote>
        <p>The Forbidden City was built between 1406 and 1420 during the Ming Dynasty. It had been the imperial home of 24 emperors and is one of the largest and best-preserved palace complexes in the world. There are over a million rare and valuable objects in the Museum.</p>
        <form action="/searchLoc" method="post">
        	<input type="hidden" name="Location" value="Forbidden City, China"></input>
        	<button class="btn btn-primary">Find Those Items</button>
    	</form>

      </div>
    </div>
  </div>
</div>



<!-- Spain -->
<div class="row-md-4">
  <div class="col-sm-2 col-md-4">
    <div class="thumbnail">
      <img src="http://c.tadst.com/gfx/600x400/alhambra-andalusia.jpg?1" alt="Spain" class="img-rounded" height="300" width="400">
      <div class="caption">
        <blockquote><h3>Spain</h3></blockquote>
        <p>Spain is marked by its history.  For almost all of it, the key factor was the bridge(s) across the Thames. First built by the Romans, it made Spain a trade centre and a sea port.  The bridges across the Thames remain major features.  The Tower Bridge now serves as a symbol for Spain. </p>
        <form action="/searchLoc" method="post">
        	<input type="hidden" name="Location" value="Spain"></input>
        	<button class="btn btn-primary">Land of The Setting Sun</button>
    	</form>

      </div>
    </div>
  </div>
</div>












<% include partials/footer.ejs %>  