<% include partials/header.ejs %>    

<h1>IG Search Results</h1>

<a href="/">Home</a>

<% if (isAuthenticated) { %>
	<a href="/logout">Logout</a>
	<a href="/savedlist/<%= user.id %>">Saved List</a>
<% } else { %>
	<a href="/signup">Sign Up</a>
	<a href="/login">Sign In</a>
<% } %>


<form action="/search">
		<label for="search"></label>
		<input type="text" name="searchLoc" placeholder="Search Location"></input>
		<input type="submit"></input>
</form>


<h2>Currently Searching for: <%= location %> </h2>
<h2>The current weather is: <%= weather %> F </h2>
<h2>The current time is: <%= time %> </h2>




<div class="row">
	
<% locations.forEach(function(location) { %>
	<div class="col-xs-6 col-md-3 thumbnail">
	<img src=" <%= location.images.low_resolution.url %>" class="img-rounded">


		<% if (isAuthenticated) { %>
			<form action="save/<%= user.dataValues.id %>" method="post">
			<input type="hidden" name="img" value="<%= location.images.standard_resolution.url %>">
			<input type ="submit" value ="Save">
			</form>
	<% } %>
	</div>
<% }) %>

</div>






<% include partials/footer.ejs %>  