<% include partials/header.ejs %>    

<h1>IG Search Results</h1>

<form action="/search">
	<label for="search"></label>
	<input type="text" name="searchLoc" placeholder="Search Location"></input>
	<input type="submit"></input>
</form>


<h2>Currently Searching for: <%= location %> </h2>
<h2>The current weather is: <%= weather %> F </h2>



<!-- Displaying Photos and Username -->
<div class="row">
	<% locations.forEach(function(location) { %>
		<div class="col-xs-6 col-md-3 thumbnail">
			
			<a class="fancybox" rel="gallery1" href= <%= location.images.standard_resolution.url %> title="
				<% if (location.tags !== null){ %>
					 <p><%="#" + location.tags.join(", #") %> </p>
				<% } else { %>
					<p></p>
				<% } %>">
				<img src= <%= location.images.low_resolution.url %> class="img-rounded" alt="" />
			</a>

			<% if (location.caption !== null) { %>
				<p><%= location.caption.from.username %></p>
			<% } else { %>
				<p>Taken By Anonymous</p>
			<% } %>

			<% if (isAuthenticated) { %>
				<form action="save/<%= user.dataValues.id %>" method="post">
				<input type="hidden" name="img" value="<%= location.images.low_resolution.url %>">
				<input type ="submit" value ="Save">
				</form>
			<% } %>
		</div>
	<% }) %>
</div>






<% include partials/footer.ejs %>  