<% include partials/header.ejs %> 

<!-- If user is logged in and images exist -->
<%if (isAuthenticated && images[0] !==undefined && (user.id === images[0].dataValues.userId)) { %>
	

<!-- Header with search function -->

	<div class="row">
		<div class="col-md-9">
			<h1> Welcome Back <%= user.username %>!</h1>
			<h2>Your Saved Images</h2>
		</div>	<!-- closes col-lg-6 -->

		<div class="col-md-3">
			<div id="resultssearch">
				<form action="/search">
					<input type="text" class="form-control" name="searchLoc" placeholder="New Location"></input>
					<input type="submit" value="submit" class="btn btn-success btn-xs"></input>
				</form>
			</div>
		</div>	<!-- closes col-lg-6 -->
	</div> 	<!-- closes row -->



	<hr class="featurette-divider">



<!-- Displaying User's Saved Photo -->

	<div class="row">
		<% images.forEach(function(image){ %>		
			<div class="col-xs-6 col-md-3 thumbnail">	

				<form method="post" action="/delete/<%= image.dataValues.id %>?_method=delete">
					<a class="fancybox" rel="gallery1" href="<%= image.dataValues.url %>" title="Saved on: <%= image.dataValues.createdAt %>">
					<img src="<%= image.dataValues.url %>" alt="" />
					</a>
					<input type ="submit" value ="Delete" class ="btn btn-danger btn-xs">
					<input type="hidden" name="userID" value="<%= user.id %>"></input>
				</form>

			</div>
		<% }) %>
	</div>

<!-- If user has no saved photos, do this -->
<% } else if (images[0] === undefined) { %>

	<h2>Hello <%= user.username %>, you have no saved pictures.</h2>



<!-- When not logged in -->
<% } else { %>

	<h1>Please <a href="/login">login</a> or <a href="/signup">signup</a> up to view saved photos</h1>

<% } %>


<% include partials/footer.ejs %>  