<% include partials/header.ejs %> 

<%if (isAuthenticated && (user.id === images[0].dataValues.userId)) { %>
	

	<h1> Saved Photos BY: <%= user.username %></h1>

	<a href="/">Home</a>
	<a href="/logout">Logout</a>

	<h2>Hello <%= user.username %></h2>

	<h2>Images from user id: <%= user.id %></h2>


	<!-- Need to change the action -->
		<% images.forEach(function(image){ %>			
			<form method="post" action="/delete/<%= image.dataValues.id %>?_method=delete">
				<img src="<%= image.dataValues.url %>">
				<input type ="submit" value ="Delete">
				<input type="hidden" name="userID" value="<%= user.id %>"></input>
			</form>
		<% }) %>





<% } else { %>

	<h1>Please <a href="/login">login</a> or <a href="/signup">signup</a> up to view saved photos</h1>

<% } %>


<% include partials/footer.ejs %>  